@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */
  /* #endregion  /**======== Primary Color =========== */
}

body {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}
html.dark body {
  background: black;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
html.dark
  .theaterSteps
  .ant-steps-item.ant-steps-item-finish
  .ant-steps-item-tail::after {
  background: white;
}

html.dark
  .theaterSteps
  .ant-steps-item.ant-steps-item-finish
  .ant-steps-icon-dot {
  background: white !important;
}
html.dark
  .theaterSteps
  .ant-steps-item.ant-steps-item-process
  .ant-steps-icon-dot {
  background: white !important;
}
html.dark
  .theaterSteps
  .ant-steps-item.ant-steps-item-process
  .ant-steps-item-tail::after {
  background-color: #ececec32;
}
html.dark
  .theaterSteps
  .ant-steps-item.ant-steps-item-wait
  .ant-steps-item-tail::after {
  background-color: #ececec32;
}
html.dark
  .theaterSteps
  .ant-steps-item.ant-steps-item-wait
  .ant-steps-icon-dot {
  background: #ececec32 !important;
}
html.dark
  .theaterSteps
  .ant-steps-item.ant-steps-item-process
  .ant-steps-item-content
  .ant-steps-item-title,
.theaterSteps
  .ant-steps-item.ant-steps-item-finish
  .ant-steps-item-content
  .ant-steps-item-title {
  color: white !important;
}

html.dark
  .theaterSteps
  .ant-steps-item.ant-steps-item-wait
  .ant-steps-item-content
  .ant-steps-item-title {
  color: rgb(185, 169, 169) !important;
}
.theaterSteps
  .ant-steps-item.ant-steps-item-finish
  .ant-steps-item-tail::after {
  background-color: black;
}
.theaterSteps .ant-steps-item.ant-steps-item-finish .ant-steps-icon-dot {
  background: black !important;
}
.theaterSteps .ant-steps-item.ant-steps-item-process .ant-steps-icon-dot {
  background: black !important;
}

.dropdownPayment.ant-form-item, .dropdownPhone.ant-form-item {
  margin-bottom: 0px;
}